body {
    background-image: linear-gradient(#63A69A, #B7EDE0);
    background-repeat: no-repeat;
    font-family: Balsamiq Sans;
    margin: 0;
    padding: 0;
    text-align: center;
}

.btn {
    background-color: #5E4A4B;
    border: 2px solid #251d1d;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px #83605C;
    color: #F2E4C9;
    font-family: Balsamiq Sans;
    font-size: large;
    font-weight: bold;
    margin: 3px auto;
    padding: 10px;
    width: 75%;
}

.btn:hover {
    background-color: #5E4A4B;
    border: 2px solid #251d1d;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px #83605C;
    color: #F2E4C9;
    cursor: pointer;
    font-family: Balsamiq Sans;
    font-size: large;
    font-weight: bold;
    margin: 3px auto;
    padding: 10px;
    text-decoration: underline;
    transition: 0.75s ease;
    width: 80%;
}

h2 {
    background-color: #5D968F;
    border-top: 2px solid #224942;
    border-left: 2px solid #224942;
    border-right: 2px solid #328677;
    border-bottom: 2px solid #328677;
    border-radius: 5px;
    box-shadow: 0 5px 5px #90CDBE;
    color: #FFD576;
    font-weight: bold;
    margin: 3px auto;
    padding: 12px;
}

input[type=number] {
    background-color: #D8E7D2;
    border-left: 2px solid #8ECAC2;
    border-top: 2px solid #8ECAC2;
    border-right: 2px solid #6c9d97;
    border-bottom: 2px solid  #6c9d97;
    border-radius: 5px;
    box-shadow: 0 5px 5px #E4E7CC;
    box-sizing: border-box;
    font-family: Balsamiq Sans;
    font-size: medium;
    margin: 3px auto;
    padding: 10px;
    width: 75%;
}

input[type=number]:hover {
    background-color: #D8E7D2;
    border-left: 2px solid #8ECAC2;
    border-top: 2px solid #8ECAC2;
    border-right: 2px solid #6c9d97;
    border-bottom: 2px solid  #6c9d97;
    border-radius: 5px;
    box-shadow: 0 5px 5px #E4E7CC;
    box-sizing: border-box;
    font-family: Balsamiq Sans;
    font-size: medium;
    margin: 6px auto;
    padding: 10px;
    transition: 0.75s ease;
    width: 80%;
}

.container {
    background-color: #FDF8CE;
    border-top: 5px solid #EEC680;
    border-left: 5px solid #EEC680;
    border-right: 5px solid #f3daaf;
    border-bottom: 5px solid #f3daaf;
    border-radius: 10px;
    box-shadow: 0 5px 5px #A77C38;
    margin: 45px auto;
    max-width: 450px;
    padding: 15px;
}

label,
p {
    color: #493D3F;
    font-weight: bold;
    max-width: 400px;
}

.average {
    color: #609B9F;
    font-weight: bold;
}

.result {
    color: #436767;
    font-weight: bold;
}
